In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("pima-indians-diabetes.csv")

In [3]:
df.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [4]:
df1 = pd.read_csv(r"C:\Users\AKSHAY\Dropbox\My PC (LAPTOP-3BBT2O9R)\Downloads\pima-indians-diabetes.csv")

In [5]:
df1.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [6]:
df.shape

(767, 9)

In [7]:
df.size

6903

In [8]:
df.isnull().sum()

6        0
148      0
72       0
35       0
0        0
33.6     0
0.627    0
50       0
1        0
dtype: int64

In [9]:
df.duplicated().sum()

0